<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Resume</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 80px;
        }

        .form-section {
            margin-bottom: 20px;
            padding: 40px;
            border: 1px solid #ddd;
        }

        .form-section h3 {
            margin-bottom: 10px;
        }

        .form-group {
            margin-bottom: 5px;
        }

        label {
            display: block;
            margin-bottom: 3px;
        }

        input[type="text"], input[type="number"], input[type="url"] {
            width: 80%;
            padding: 5px;
            border: 1px solid #ccc;
        }

        .required {
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <form action="success/" method="post"> 
        {% csrf_token %}
        <h2>Personal Details</h2>
        <label for="name" style="display: block; margin-top: 10px;">Name*:</label>
        <input type="text" id="name" name="name" required style="width: 100%; padding: 5px;">

        <label for="dob" style="display: block; margin-top: 10px;">Date of Birth*:</label>
        <input type="date" id="dob" name="dob" required style="width: 100%; padding: 5px;">

        <label for="phnumber" style="display: block; margin-top: 10px;">Phone Number*:</label>
        <input type="number" id="phNo" name="phNumber" required style="width: 100%; padding: 5px;">

        <label for="gender" style="display: block; margin-top: 10px;">Gender*:</label>
        <div style="margin-top: 10px;">
            <label for="male">
                <input type="radio" id="male" name="gender" value="male" required style="margin-left: 20px;">Male
            </label> 
            <label for="female">
                <input type="radio" id="female" name="gender" value="female" required style="margin-left: 20px;">Female
            </label>
        </div>

        <label for="address" style="display: block; margin-top: 10px;">Address*:</label>
        <input type="textfield" id="address" name="address" required style="width: 100%; padding: 5px;">

        <label for="parent_name" style="display: block; margin-top: 10px;">Parent Name*:</label>
        <input type="text" id="parent_name" name="parent_name" required style="width: 100%; padding: 5px;">

        <label for="current_location" style="display: block; margin-top: 10px;">Current Location*:</label>
        <input type="text" id="current_location" name="current_location" required style="width: 100%; padding: 5px;">

        <h2>Educational Details</h2>
        <h3>School</h3>
        <label for="school_name" style="display: block; margin-top: 10px;">Name*:</label>
        <input type="text" id="school_name" name="school_name" required style="width: 100%; padding: 5px;">

        <label for="school_passout" style="display: block; margin-top: 10px;">Pass Out*:</label>
        <input type="text" id="school_passout" name="school_passout" required style="width: 100%; padding: 5px;">

        <label for="school_percentage" style="display: block; margin-top: 10px;">Percentage/CGPA*:</label>
        <input type="text" id="school_percentage" name="school_percentage" required style="width: 100%; padding: 5px;">

        <label for="school_board" style="display: block; margin-top: 10px;">Board*:</label>
        <input type="text" id="school_board" name="school_board" required style="width: 100%; padding: 5px;">

        <label for="school_district" style="display: block; margin-top: 10px;">District*:</label>
        <input type="text" id="school_district" name="school_district" required style="width: 100%; padding: 5px;">

        <label for="school_state" style="display: block; margin-top: 10px;">State*:</label>
        <input type="text" id="school_state" name="school_state" required style="width: 100%; padding: 5px;">

        <h3>College</h3>
        <label for="college_name" style="display: block; margin-top: 10px;">Name*:</label>
        <input type="text" id="college_name" name="college_name" required style="width: 100%; padding: 5px;">

        <label for="college_passout" style="display: block; margin-top: 10px;">Passout*:</label>
        <input type="text" id="college_passout" name="college_passout" required style="width: 100%; padding: 5px;">

        <label for="college_percentage" style="display: block; margin-top: 10px;">Percentage/CGPA*:</label>
        <input type="text" id="college_percentage" name="college_percentage" required style="width: 100%; padding: 5px;">

        <label for="college_board" style="display: block; margin-top: 10px;">Board*:</label>
        <input type="text" id="college_board" name="college_board" required style="width: 100%; padding: 5px;">

        <label for="college_district" style="display: block; margin-top: 10px;">District*:</label>
        <input type="text" id="college_district" name="college_district" required style="width: 100%; padding: 5px;">

        <label for="college_state" style="display: block; margin-top: 10px;">State*:</label>
        <input type="text" id="college_state" name="college_state" required style="width: 100%; padding: 5px;">

        <h3>University</h3>
        <label for="university_name" style="display: block; margin-top: 10px;">Name*:</label>
        <input type="text" id="university_name" name="university_name" required style="width: 100%; padding: 5px;">

        <label for="university_passout" style="display: block; margin-top: 10px;">Passout*:</label>
        <input type="text" id="university_passout" name="university_passout" required style="width: 100%; padding: 5px;">

        <label for="university_percentage" style="display: block; margin-top: 10px;">Percentage/CGPA*:</label>
        <input type="text" id="university_percentage" name="university_percentage" required style="width: 100%; padding: 5px;">

        <label for="university_course" style="display: block; margin-top: 10px;">Course*:</label>
        <input type="text" id="university_course" name="university_course" required style="width: 100%; padding: 5px;">

        <label for="university_branch" style="display: block; margin-top: 10px;">Branch*:</label>
        <input type="text" id="university_branch" name="university_branch" required style="width: 100%; padding: 5px;">

        <label for="university_university" style="display: block; margin-top: 10px;">University*:</label>
        <input type="text" id="university_university" name="university_university" required style="width: 100%; padding: 5px;">

        <label for="university_district" style="display: block; margin-top: 10px;">District*:</label>
        <input type="text" id="university_district" name="university_district" required style="width: 100%; padding: 5px;">

        <label for="university_state" style="display: block; margin-top: 10px;">State*:</label>
        <input type="text" id="university_state" name="university_state" required style="width: 100%; padding: 5px;">

        <h2>Skills</h2>
        <label for="programming_language" style="display: block; margin-top: 10px;">Programming Language*:</label>
        <input type="text" id="programming_language" name="programming_language" required style="width: 100%; padding: 5px;">

        <label for="technologies" style="display: block; margin-top: 10px;">Technologies*:</label>
        <input type="text" id="technologies" name="technologies" required style="width: 100%; padding: 5px;">

        <h2>Projects</h2>
        <label for="project_name" style="display: block; margin-top: 10px;">Name*:</label>
        <input type="text" id="project_name" name="project_name" required style="width: 100%; padding: 5px;">

        <label for="project_domain" style="display: block; margin-top: 10px;">Domain*:</label>
        <input type="text" id="project_domain" name="project_domain" required style="width: 100%; padding: 5px;">

        <label for="project_technologies" style="display: block; margin-top: 10px;">Technologies Used*:</label>
        <input type="text" id="project_technologies" name="project_technologies" required style="width: 100%; padding: 5px;">

        <h2>Experience (if available)</h2>
        <label for="company" style="display: block; margin-top: 10px;">Company:</label>
        <input type="text" id="company" name="company"  style="width: 100%; padding: 5px;">

        <label for="role" style="display: block; margin-top: 10px;">Role:</label>
        <input type="text" id="role" name="role"  style="width: 100%; padding: 5px;">

        <label for="duration" style="display: block; margin-top: 10px;">Duration:</label>
        <input type="text" id="duration" name="duration"  style="width: 100%; padding: 5px;">

        <label for="exp_technologies" style="display: block; margin-top: 10px;">Technologies Worked On:</label>
        <input type="text" id="exp_technologies" name="exp_technologies"  style="width: 100%; padding: 5px;">

        <h2>Hobbies</h2>
        <label for="hobbies" style="display: block; margin-top: 10px;">Hobbies:</label>
        <input type="text" id="hobbies" name="hobbies"  style="width: 100%; padding: 5px;">

        <button type="submit" style="margin-top: 20px; padding: 10px 20px;">Save</button>
        <button type="reset" style="margin-top: 20px; padding: 10px 20px;">Reset</button>
    </form>
</body>
</html>
